/* Estilos generales para los campos del formulario */
.form-control, .react-select__control {
  border-radius: 7px;
  height: 40px;
  border: 1px solid #ced4da;
}

.requerido {
  color: red !important;
}

/* Estilos para el contenedor del campo relacional y el ícono */
.campoRelacional {
  position: relative;
}

.campoRelacional svg {
  position: absolute;
  top: 15px;
  left: 10px;
}

.campoRelacional .form-control, .campoRelacional label {
  padding-left: 40px;
}

.campoRelacional span {
  position: absolute;
  left: 40px;
  top: 55px;
}

/* Mejoras visuales para el contenedor de sugerencias de autosuggest */
.react-autosuggest__suggestions-container {
  background-color: #0c0c0ce8;
  margin-top: -5px;
  border: 1px solid white;
  border-radius: 7px;
  max-height: 150px;
  overflow-y: auto;
}

/* Personalización del scrollbar para el contenedor de sugerencias */
.react-autosuggest__suggestions-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.react-autosuggest__suggestions-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.react-autosuggest__suggestions-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.react-autosuggest__suggestions-container::-webkit-scrollbar {
  width: 10px;
}

/* Estilos específicos para react-select utilizado en otros campos y el nuevo campo de moneda */
.react-select__control, .react-select__menu {
  border-radius: 7px !important;
}

.react-select__value-container {
  padding: 5px 12px !important;
}
/* --------- end ------------------------ Dropdown List Select Field */




/* En tu archivo CSS */
.ds-1{
  margin: 5% 0%!important;

}
.ds-1 .react-select__menu {
  background-color:#0c0c0ce8 !important;
  border: 1px solid #ced4da!important; /* Un borde para distinguir el menú */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)!important; /* Una sombra suave para dar profundidad */
  z-index: 100!important; /* Asegúrate de que el menú esté por encima de otros elementos */
  border-radius: 7px!important;
  padding-right: 10px!important;

  border-top: none !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  margin-top:-5px !important;
}

.ds-1 .react-select__option, .ds-2 .react-select__option {
  cursor: pointer!important;
  background-color: #202020!important;
  border-radius: 7px!important;
  margin: 5px !important;

}




.estadoField .react-select__option:nth-child(1){
  background-color:green !important;
  color:rgb(23, 223, 33) !important;
  border: 1px solid rgb(23, 223, 33);
  padding: 5px 10px;
  border-radius: 5px 10px;
}

.estadoField .react-select__option:nth-child(2){
  color: orange;
  border: 1px solid orange;
  padding: 5px 10px;
  border-radius: 5px 10px;
}

.estadoField .react-select__option:nth-child(3){
  color:rgb(223, 23, 23);
  border: 1px solid rgb(223, 23, 23);
  padding: 5px 10px;
  border-radius: 5px 10px;
}

