/* Estilos generales para los campos del formulario */
.form-control, .react-select__control {
  border-radius: 7px;
  height: 40px;
  border: 1px solid #ced4da;
}

.requerido {
  color: red !important;
}

/* Estilos para el contenedor del campo relacional y el ícono */
.campoRelacional {
  position: relative;
}

.campoRelacional svg {
  position: absolute;
  top: 15px;
  left: 10px;
}

.campoRelacional .form-control, .campoRelacional label {
  padding-left: 40px;
}

.campoRelacional span {
  position: absolute;
  left: 40px;
  top: 55px;
}

/* Mejoras visuales para el contenedor de sugerencias de autosuggest */
.react-autosuggest__suggestions-container {
  background-color: #0c0c0ce8;
  margin-top: -5px;
  border: 1px solid white;
  border-radius: 7px;
  max-height: 150px;
  overflow-y: auto;
}

/* Personalización del scrollbar para el contenedor de sugerencias */
.react-autosuggest__suggestions-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.react-autosuggest__suggestions-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.react-autosuggest__suggestions-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.react-autosuggest__suggestions-container::-webkit-scrollbar {
  width: 10px;
}

/* Estilos específicos para react-select utilizado en otros campos y el nuevo campo de moneda */
.react-select__control, .react-select__menu {
  border-radius: 7px !important;
}

.react-select__value-container {
  padding: 5px 12px !important;
}

.ds-1 .react-select__menu, .ds-2 .react-select__menu {
  background-color: #000000!important;
  border: 1px solid #ced4da!important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)!important;
  z-index: 100!important;
  border-radius: 7px!important;
  padding-right: 10px!important;
}

.ds-1 .react-select__option, .ds-2 .react-select__option {
  cursor: pointer!important;
  background-color: #202020!important;
  border-radius: 7px!important;
  margin: 5px !important;
}

/* Ajustes para garantizar la consistencia visual en los márgenes */
.ds-1{
  margin: 5% 0%!important;
}

/* Estilos para el control de React Select (selector de moneda) */
 .ds-2{
  
  z-index: 50;
  width: 34%; 
}

.ds-3{
  
  z-index: 50;
  width: 65%;
}

.mb-4{
  display:flex;
}
